* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* -------------------------------------------------- */
/* Inizio Common */

body {
	font-family: 'Helvetica Neue', sans-serif;
}

img {
	width: 100%
}
/* Fine Common */
/* -------------------------------------------------- */
/* Inizio Header */
#header {
	background: #2c3e50;
	color: #fff;
	height: 90px;
}
/* Fine Header */
/* -------------------------------------------------- */
/* Inizio Main */
#jumbotron {
	margin-top: 90px;
}

#jumbotron,
#about {
	background: #1abc9c;
	color: #fff;
}

/* Box Messaggio in Contact Me */
#contact-me-message {
	min-height: 150px;
	resize: vertical;
	overflow: hidden;
}

#contact-me button {
	background: #1abc9c;
	color: #fff;
}
/* Fine Main */
/* -------------------------------------------------- */
/* Inizio Footer */
#top-footer,
#bottom-footer {
	color: #fff;
}

#top-footer {
	background: #3a546d;
}

#bottom-footer {
	background: #2c3e50;
}

#footer-socials i {
	height: 35px;
	width: 35px;
}

#footer-about a {
	color: #1abc9c;
}
/* Fine Footer */
/* -------------------------------------------------- */

.image-box {
	background: lightblue;
}

.image-box.rounded {
	height: 200px;
}

@media (max-width: 767px) {
	#footer-socials i {
		height: 70px;
		width: 70px;
		font-size: 24px;
		line-height: 50px;
	}

	#footer-location,
	#footer-socials {
		margin-bottom: 50px;
	}
}

@media (min-width: 768px) {
	header button {
		display: none;
	}

	header #navbarToggleExternalContent {
		display: block;
	}
}