* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* -------------------------------------------------- */
/* Inizio Common */

body {
	font-family: 'Helvetica Neue', sans-serif;
}
/* Fine Common */
/* -------------------------------------------------- */
/* Inizio Header */
#header {
	background: #2c3e50;
	color: #fff;
}
/* Fine Header */
/* -------------------------------------------------- */
/* Inizio Main */
#jumbotron,
#about {
	background: #1abc9c;
	color: #fff;
}

/* Box Messaggio in Contact Me */
span.ps-0:nth-child(7) {
	height: 120px;
}
#contact-me button {
	background: #1abc9c;
	color: #fff;
}
/* Fine Main */
/* -------------------------------------------------- */
/* Inizio Footer */
footer {
	height: 500px;
}
/* Fine Footer */
/* -------------------------------------------------- */

.image-box {
	background: lightblue;
}

.spacer {
	height: 5px;
	width: auto;
}

.image-box.rounded {
	height: 200px;
}
