* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* -------------------------------------------------- */
/* Inizio Common */

body {
	font-family: 'Helvetica Neue', sans-serif;
	color: white;
}
/* Fine Common */
/* -------------------------------------------------- */
/* Inizio Header */


/* Fine Header */
/* -------------------------------------------------- */
/* Inizio Main */

/* Fine Main */
/* -------------------------------------------------- */
/* Inizio Footer */

/* Fine Footer */
/* -------------------------------------------------- */

/* !DEBUG ZONE! */

.debug #header {
	height: 50px;
	background: #2c3e50;
}

.debug #header .container {
	height: 100%;
}
